.heading{
    font-family: 'Ubuntu', sans-serif;
    padding-left: 30px;
    color:rgb(36, 161, 36)
}
#firsthead{
    background-color: #cac6c6;
}
#secondhead{
    background-color: rgb(255, 255, 0);
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    color: darkslategrey;
    background-color: rgb(224, 224, 224);
    padding: 50px;
}
span{
    font-style: italic;
    font-weight: bold;
}